@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    --clr-very-dark-magenta:hsl(300, 43%, 22%);
    --clr-soft-pink:hsl(333, 80%, 67%);
    --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
    --clr-light-grayish-magenta:hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    --font-f:font-family: "League Spartan", sans-serif;

    --fs-body:0.9375rem;
    --fs-title:2.0rem;

    --fw-bold:700;
    --fw-medium:500;
    --fw-regular:400;
}

body{
    font-family: var(--font-f);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
}