*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('assets/bg-pattern-top-desktop.svg'), url('assets/bg-pattern-bottom-desktop.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right;
  height: 100vh;
  background-color: rgb(219, 206, 206);
}

 



















































.testimonials{
  display: flex;
  gap: 20px;
  margin-top: 50px;
  border: 1px solid black;
}
.colton , .irene , .anne{
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: hsl(300, 43%, 22%);
  color:  hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 300px;
  font-size: 15px;
  
}
.image{
  display: flex;
  gap: 10px;
}

img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text{
  margin-top: 20px;
}