@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-very-dark-magenta:hsl(300, 43%, 22%);
    --clr-soft-pink:hsl(333, 80%, 67%);
    --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
    --clr-light-grayish-magenta:hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    --font-f: "League Spartan", sans-serif;

    --fs-body:0.9375rem;
    --fs-title:2.5rem;

    --fw-bold:700;
    --fw-medium:500;
    --fw-regular:400;
}

body{
    margin: 2em 2em;
    font-family: var(--font-f);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    background: url("assets/bg-pattern-top-desktop.svg") left top / auto no-repeat,
                        url("assets/bg-pattern-bottom-desktop.svg") right bottom / auto no-repeat,
                      var(--clr-white);
    height: 100vh;

}






































































.testimonials{
    display: flex;
    gap: 40px;
    padding: 20px;
   
}
.Colton , .Anne , .Irene{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-very-dark-magenta);
    color: var(--clr-white);
    border-radius: 10px;
    padding: var(--fs-body);
    gap: 20px;
    padding: 40px;
    width: 350px;
   
}
.text{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
span p:nth-last-child(1){
    color: var(--clr-soft-pink);
    font-weight: var(--fw-bold);
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.testimonials > div:nth-child(2) {
    transform: translateY(15px);
}

.testimonials > div:nth-child(3) {
    transform: translateY(30px);
}






.top-section{
    padding: 2em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading-paragraph-container{
    display: inline-block;
    width: 50%;
    max-width: 600px;
    padding: 2em 2em;
}

.heading-paragraph-container h1{
    font-size: var(--fs-title);
    width: 55%;
    color: var(--clr-very-dark-magenta);
    font-weight: var(--fw-bold);
}

.heading-paragraph-container p{
    width: 60%;
    color: var(--clr-dark-grayish-magenta);
    font-weight: var(--fw-medium);
    line-height: 1.5;
}

.ratings-container{
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;   
}

.ratings-container p{
    color: var(--clr-very-dark-magenta);
    font-weight: var(--fw-bold);
}

.rating-star-box{
    padding: .5em 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    background-color: var(--clr-light-grayish-magenta);
    border-radius: 8px;
}

.rating-star-box:nth-child(2) {
    margin-left: 40px;
}

.rating-star-box:nth-child(3) {
    margin-left: 80px;
}
